.about-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: url('https://i.pinimg.com/originals/ff/ea/f9/ffeaf962ce71b49ae4741491618723b7.jpg'); */
  background-image: url('../assets/svg/about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-section {
  width: 70%;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 50px -3px rgba(0, 0, 0, 0.3);
}

.about-section-title {

}

.about-title {
  color: #6707c0;
  font-size: 1.2em;
  font-weight: 700;
}

.about-section-body {
  display: grid;
  grid-auto-flow: row;
  row-gap: 20px;
}

.about-content {
  color: #6707c0;
  font-size: 1em;
}