.empty-cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart > img {
  max-width: 70%;
  height: auto;
  max-height: 500px;
}

.cart-container {
  /* width: 100%; */
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cart-header {

}

.cart-title {

}

.cart-items-container {
  padding: 20px;
  width: 50%;
}

.cart-footer {

}

.btn-clear-cart {
  background-color: #c00707;
  color: #ffffff;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
}

.btn-clear-cart .disabled {
  background-color: #c00707;
  color: #ffffff;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  pointer-events: none;
  opacity: 0.4;
}