.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6c009e;
  padding: 15px;
}

/* .header-section-title {

} */

.header-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5em;
}

.header-section-links {
  display: grid;
  grid-auto-flow: column;
  column-gap: 40px;
  /* border: 2px solid red; */
}

.nav-link {
  color: #ffffff;
  margin: 0 5px;
  font-size: 1em;
}

.nav-link:hover {
  border-bottom: 4px solid #ffffff;
}

/* .header-section-actions {

} */

.header-btn {
  padding: 8px;
  margin: 0 5px;
  font-size: 1em;
  border-radius: .5em;
}

.btn-add-product {
  color: #6c009e;
  background-color: #ffffff;
}

.btn-add-product:hover {
  color: #6c009e;
  background-color: #f1f1f1;
}

.btn-logout {
  color: #ffffff;
  /* border: 3px solid #ffffff; */
  background-color: transparent;
}

.btn-logout:hover {
  background-color: #e61515;
  color: #ffffff;
  border: none;
}